body {
  background-color: darkgray;
}
h1 {
  color: red;
}
button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: large;
}
